<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilo.css">
    <title>Estilos</title>
    
    
</head>
<body class="fotos">
    <h1>Fotos</h1>
    <p>Só filé</p>
    <div class="gallery">
    <img src="Fotos/foto_01.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_02.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_03.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_04.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_05.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_06.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_07.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_08.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_09.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_10.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_11.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_12.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_13.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_14.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_15.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_16.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_17.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_18.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_19.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_20.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_21.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_22.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_23.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_24.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_25.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_26.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_27.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_28.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_29.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_30.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_31.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_32.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_33.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_34.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_35.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_36.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_37.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_38.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_39.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_40.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_41.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_42.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_43.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_44.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_45.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_46.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_47.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_48.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_49.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_50.jpg" alt="gata" width="200" height="200">

    <img src="Fotos/foto_51.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_52.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_53.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_54.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_55.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_56.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_57.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_58.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_59.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_60.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_61.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_62.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_63.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_64.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_65.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_66.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_67.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_88.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_69.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_70.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_71.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_72.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_73.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_74.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_75.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_76.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_77.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_78.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_79.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_80.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_81.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_82.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_83.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_84.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_85.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_86.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_87.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_88.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_89.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_90.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_91.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_92.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_93.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_94.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_45.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_96.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_97.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_98.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_99.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_100.jpg" alt="gata" width="200" height="200">

    <img src="Fotos/foto_101.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_102.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_103.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_104.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_105.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_106.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_107.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_108.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_109.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_110.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_111.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_112.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_113.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_114.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_115.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_116.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_117.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_118.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_119.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_120.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_121.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_122.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_123.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_124.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_125.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_126.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_127.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_128.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_129.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_130.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_131.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_132.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_133.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_134.jpg"alt="gata" width="200" height="200">
    <img src="Fotos/foto_135.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_136.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_137.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_138.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_139.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_140.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_141.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_142.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_143.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_144.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_145.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_146.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_147.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_148.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_149.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_150.jpg" alt="gata" width="200" height="200">

    <img src="Fotos/foto_151.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_152.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_153.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_154.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_155.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_156.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_157.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_158.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_159.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_160.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_161.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_162.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_163.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_164.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_165.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_166.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_167.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_168.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_169.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_170.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_171.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_172.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_173.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_174.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_175.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_176.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_177.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_178.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_179.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_180.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_181.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_182.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_183.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_184.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_185.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_186.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_187.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_188.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_189.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_190.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_191.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_192.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_193.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_194.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_195.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_196.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_197.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_198.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_199.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_200.jpg" alt="gata" width="200" height="200">

    <img src="Fotos/foto_201.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_202.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_203.jpg" alt="gata" width="200" height="200">
    <img src="Fotos/foto_204.jpg" alt="gata" width="200" height="200">
</div>
<div id="myModal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="img01">
</div>

<script>
    var modal = document.getElementById("myModal");
    var modalImg = document.getElementById("img01");
    var images = document.querySelectorAll('.gallery img');
    var span = document.getElementsByClassName("close")[0];

    images.forEach(img => {
        img.onclick = function(){
            modal.style.display = "block";
            modalImg.src = this.src;
        }
    });

    span.onclick = function() { 
        modal.style.display = "none";
    }
</script>

</body>
</html>